# Dependencias
node_modules/
**/node_modules/

# Variables de entorno (Seguridad)
.env
**/.env

# Logs y archivos temporales
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store

# IDEs
.vscode/
.idea/